li {
  list-style: none;
  margin: 20px 0 20px 0;
}

a {
  text-decoration: none;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  margin-left: -300px;
  transition: 0.4s;
}

.active-main-content {
  margin-left: 250px;
}

.active-sidebar {
  margin-left: 0;
}

#main-content {
  transition: 0.4s;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999;
}

.bg-custom {
  background-color: #6ec6ff;
}

.text-custom {
  color: #6ec6ff;
}

#status {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 40%;
  top: 20%;
  z-index: 9999;
  background-image: url("loding.gif");
  background-position: center;
  background-size: 100%;
  margin: -50px 0 0 -50px;
}

.img-responsive {
  width: auto;
  height: 200px;
}

.card-bg {
  background-color: rgb(53, 49, 49);
}


* {
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.card.shadow:hover {
  -webkit-transition: all 2.s ease-in-out;
  -moz-transition: all 2.s ease-in-out;
  -o-transition: all 2.s ease-in-out;
  -ms-transition: all 2.s ease-in-out;
  -webkit-transition: scale(1.1);
  -moz-transition: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* Waves*/
.ocean {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  z-index: -1;
}

.ombak {
  background: url("wave.svg");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: ombak 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes ombak {
  0% {transform: translateX(0);}
  50% {transform: translateX(-25%);}
  100% {transform: translateX(-50%);}
}